<div class="shadowed-box property-edit">
    <h2 class="box-title">Change Password</h2>

    {{ form_start(form, {'attr': {'class': 'form-horizontal ChosenTTForm'}}) }}

    <div class="box-body form">

        {{ form_row(form.current_password) }}
        {{ form_row(form.plainPassword.first,
            {'error_type': 'inline', 'attr': {'title': 'Password must be at least 8 characters long'}}) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_rest(form) }}

    </div>

    <div class="box-footer submit">
        <button type="submit" class="btn btn-primary">Update Password</button>
        <span class="req-note"><strong>*</strong> Denotes required fields</span>
    </div>

    {{ form_end(form) }}

</div>

{% if passwordLogs|length %}
<div class="shadowed-box">
    <h2 class="box-title">Previous Modifications</h2>
    <div class="box-body no-pad">
        {% for plog in passwordLogs %}
            <div class="box-row">
                Changed on {{ plog.dateChanged|date('F j, Y g:i A') }}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}