{% extends 'GotChosenSiteBundle::layout_front_slides.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}

    <div class="home-sections">
        <div class="home-third">
            <h2><a href="{{ path('fos_user_registration_register') }}">Student Loan Debt Relief</a></h2>
            <p>
                All GotChosen scholarships can be used for student loans debt or current educational
                expenses for alumni and college students. Our programs are: <a href="{{ path('scholarship') }}">GotScholarship $20K Give Away</a>,
                <a href="{{ path('monthly_scholarship') }}">GotChosen $1000 Every Month Scholarship</a>,
                <a href="{{ path('vs_videos') }}">The Lights, Camera, Action Video Scholarship</a>,
                and <a href="{{ path('eg_qualifier') }}">Evolution Games</a>.
            </p>

            <p><a href="{{ path('fos_user_registration_register') }}"><img alt="" src="{{ asset('bundles/gotchosensite/images/btn_applytoday.png') }}"></a></p>
        </div>

        <div class="home-third">
            <h2><a href="{{ path('about_us') }}">Your Privacy Matters</a></h2>

            <p>
                GotChosen respects your privacy. We will never sell your data to anyone ever. Check out what really is
                happening with your data elsewhere: <a href="{{ path('privacy_issue') }}">The Data Brokers: Selling your personal information</a>.
            </p>

            <p><a href="{{ path('about_us') }}"><img alt="" src="{{ asset('bundles/gotchosensite/images/btn_learnmore.png') }}"></a></p>
        </div>

        <div class="home-third home-news">
            <h2><a href="{{ path('news_article', {'id': 36}) }}">News</a></h2>
            <p class="home-news-title">Winner of the 5<sup>th</sup> GotScholarship</p>

            <p><img alt="" style="width: 95px;" src="{{ asset('bundles/gotchosensite/images/Megan_Brown.jpg') }}"></p>
            <p>Click <a href="{{ path('news_article', {'id': 36}) }}">here</a> to read her story...</p>

        </div>
    </div>

{% endblock %}
