{% extends 'GotChosenSiteBundle::layout_vs_static.html.twig' %}

{% block title %}Video Scholarship | {{ parent() }}{% endblock %}

{% block active_tab %}pastseasons{% endblock %}

{% block vs_content %}
<div class="alert alert-error">
 <strong>Season 3 is finished.  Season 4 will begin in the Fall.</strong>
</div>

<h3>Season 3</h3>

                <p>Hundreds for future filmmakers, talented storytellers, videographers, performers , all students  with
                    a dream to tell took advantage of our 3rd video scholarship contest. This opportunity required not
                    only a video submission but a willingness to use marketing skills to get the word out to generate votes.

                <p>Consistency and diligence was rewarded for our three winners. With the most votes, The Grand Prize Winner
                    is Dioscamaris Mendez of Orlando, FL, with her video <a href="https://www.gotchosen.com/en/video-scholarship/videos/150">
                        First Time Skydiving</a>. The 1st runner up is Eric Cheng of Oviedo, FL for his video
                        <a href="https://www.gotchosen.com/en/video-scholarship/videos/301">My Passion</a> and the 2nd runner up is
                        Cameron DelaCerna, of Torrance, CA for his video <a href="https://www.gotchosen.com/en/video-scholarship/videos/52">Strength &amp; Courage Inspires Me</a>.
                <p>We look forward to launching our Season 4 Lights, Camera, Action, Video Scholarship contest in the Fall.
                    Stay tuned for more details coming soon. </p>

                <div style="padding: 10px; border: 1px solid #dddddd; font-family: Arial, Helvetica, Sans-Serif; -moz-border-radius: 15px; border-radius: 15px; width: 630px;">
                    <div class="vid-entry"><p class="vidHead"> Title: First Time Skydiving<br/> <span class="vidCat">Category: Fake Commercial<br/>
                        Author: Dioscamaris Mendez - Winner of the contest</span></p>
                        <object width="330" height="200">
                            <param name="movie" value="https://www.youtube.com/v/dMM_mwdpBAk?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://youtube.com/v/dMM_mwdpBAk?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: My Passion<br/> <span class="vidCat">Category: Let Me Dance<br/>
                        Author: Eric Cheng - 1st Runner Up</span></p>
                        <object width="330" height="200">
                            <param name="movie" value="https://www.youtube.com/v/39qxUVsc338?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://youtube.com/v/39qxUVsc338?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Strength &amp; Courage Inspires Me<br/> <span class="vidCat">Category: Fake Commercial<br/>
                        Author: Cameron DelaCerna - 2nd Runner Up</span></p>
                        <object width="330" height="200">
                            <param name="movie" value="https://www.youtube.com/v/y7ykHG0c_xo?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://youtube.com/v/y7ykHG0c_xo?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                </div>

<h3>Season 2</h3>
                <p> What happens when you combine talent, originality and determination? For our scholarship winners it
                    means success and scholarships dollars for their college education.</p>

                <p> GotChosen's Season Two Video Scholarship Contest participants had 12 weeks to upload a video of original
                    work and then get as many votes as possible to reach the Top 20. </p>

                <p> The Judging Panel, comprised of experts in all forms of the art, film and media gathered at Everest
                    College (North Orlando Campus, Film Video Department, Matt Gunter, Chair) to view each of the Top 20
                    Videos. </p>

                <p> Representing the Panel of Judges: Patrick Kahn (<a href="http://snaporlando.com/" target="_blank">SNAP!
                        Orlando</a>), Felicia Rieman (Award winning television producer), Attorney Jim Lussier (<a
                            href="http://www.orlandoslice.com/" target="_blank">Orlando Slice</a>), Patrick Jackson (<a
                            href="http://www.pbjentertainmentgroup.com/Home_Page.html" target="_blank">PB&J Entertainment
                        Group</a>), Realdo Manes (<a href="http://www.jornalbb.com/" target="_blank">Journal B&B
                        Newspaper</a>), Darko Cesar (Animator Instructor at <a href="http://www.fullsail.edu/"
                                                                               target="_blank">Full Sail University</a>),
                    Mirjana Cesar (<a href="http://mirjanacesar.weebly.com/index.html" target="_blank">Mixed Media
                        artist</a>), Rupert Meghnot (Instructor at <a href="http://www.fullsail.edu/" target="_blank">Full
                        Sail University</a>), Michelle Hill - Program Director of Film and Video Program at <a
                            href="http://www.first.edu/" target="_blank">F.I.R.S.T Institute</a>, Grazyna Kleinman - <a
                            href="http://grazmagicphoto.com/" target="_blank"> photographer</a>, John Ribeiro (musician),
                    Nivaldo Nassiff & Josh Blackwell (International Pastors at <a href="http://www.firstorlando.com/"
                                                                                  target="_blank">First Baptist Orlando</a>).
                </p>

                <p> Check out the winners stories <a
                        href="{{ path('news_article', {'id': 63, 'slug': 'What-do-the-winners-have-to-say'}) }}"
                        target="_blank">HERE</a>. <p> The $3000 Grand Prize Winner was awarded to Fabian Caballero of Hunter
                    College with the most votes by the Panel of Judges. Our four Runner-ups receiving a $250 scholarship
                    award are: Emily Hoven (University of Alberta Canada), Emina Sonnad (University of California,
                    Berkeley), Amanda Neuhouser (Southern Illinois University) and Jake Tuohy (Suffolk Community
                    College).</p>

                <p> Congratulations to the winners. Their "never give up” attitude and their efforts have paid off. We look
                    forward to our Season 3 Lights, Camera, Action, Video Scholarship contest to launch in late fall. Please
                    check our website for announcements and details coming soon.</p>

                <p> Check out the winner’s videos from season two, including the grand prize winner’s video “To Be”
                    below:</p>

                <div style="padding: 10px; border: 1px solid #dddddd; font-family: Arial, Helvetica, Sans-Serif; -moz-border-radius: 15px; border-radius: 15px; width: 630px;">
                    <div class="vid-entry"><p class="vidHead"> Title: To Be<br/> <span class="vidCat">Category: Best Original Music<br/>                                    Author: <a
                                        href="{{ path('news_article', {'id': 64, 'slug': 'GotChosen-Season-Two-Winners'}) }}"
                                        target="_blank">Fabain Calallero - Winner of the contest</a></span></p>
                        <object width="330" height="200">
                            <param name="movie" value="https://www.youtube.com/v/MNAucb0Pg2o?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://youtube.com/v/MNAucb0Pg2o?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Rainbowfish- Here I Am<br/> <span class="vidCat">Category: Best Original Music<br/>                                    Author: <a
                                        href="{{ path('news_article', {'id': 64, 'slug': 'GotChosen-Season-Two-Winners'}) }}"
                                        target="_blank">Emina Sonnad - 1st Runner-Up</a></span></p>
                        <object width="330" height="200">
                            <param name="movie" value="https://www.youtube.com/v/daon82qsRkw?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/daon82qsRkw?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Waiting<br/> <span
                                    class="vidCat">Category: Friends<br/>                                    Author: <a
                                        href="{{ path('news_article', {'id': 64, 'slug': 'GotChosen-Season-Two-Winners'}) }}"
                                        target="_blank">Amanda Neuhouser - 2nd Runner-Up</a></span></p>
                        <object width="329" height="200">
                            <param name="movie" value="https://www.youtube.com/v/Gx76bkZ21nE?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/Gx76bkZ21nE?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: We In The Building<br/> <span class="vidCat">Category: Best Original Music<br/>                                    Author: <a
                                        href="{{ path('news_article', {'id': 64, 'slug': 'GotChosen-Season-Two-Winners'}) }}"
                                        target="_blank">Jake Tuohy - 3rd Runner-Up</a></span></p>
                        <object width="329" height="200">
                            <param name="movie" value="https://www.youtube.com/v/or5SoAT-UNY?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/or5SoAT-UNY?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Oh The Places You've Gone<br/> <span class="vidCat">Category: Best Trip Ever<br/>                                    Author: <a
                                        href="{{ path('news_article', {'id': 64, 'slug': 'GotChosen-Season-Two-Winners'}) }}"
                                        target="_blank">Emily Hoven - 4th Runner-Up</a></span></p>
                        <object width="329" height="200">
                            <param name="movie" value="https://www.youtube.com/v/-R-kEq_Q4uE?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/-R-kEq_Q4uE?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                </div>

<h3>Season 1</h3
                <p> GotChosen wanted to offer a platform for college students around the world to showcase their talent
                    and capture their best moments on video with the incentive of winning a scholarship. The opportunity
                    to win a $3000 scholarship was launched with the introduction of the Lights, Camera, Action Video
                    Scholarship Contest in February 2013.</p>

                <p> Empowering students to control their ability to win - the winner was decided by voting. Students
                    were encouraged to be creative in their videos and with their marketing savvy by getting others to
                    vote for them.</p>

                <p> In the first contest, 516 students created, uploaded and got their friends and families to vote for
                    them. The five categories from the first contest were: Dreams Come True, Comedy, School Spirit, Your
                    Hero, and Best Performance. </p>

                <p> The first winner, Kirk Saechao was awarded a US $3000 scholarship. Kirk's story detailing how he
                    learned about the contest, the process he went through to create his video, and how he used social
                    media to get votes can be found <a
                            href="{{ path('news_article', {'id': 43, 'slug': 'The-Winners-Story-GotChosen-Video-Scholarship'}) }}"
                            target="_blank">here</a>.</p>

                <p> Check out the Top videos from the past season with the most votes, including the winner's Maple
                    Love Story below:</p>

                <div style="padding: 10px; border: 1px solid #dddddd; font-family: Arial, Helvetica, Sans-Serif; -moz-border-radius: 15px; border-radius: 15px; width: 630px;">
                    <div class="vid-entry"><p class="vidHead"> Title: Maple Love Story<br/> <span class="vidCat">Category: Best Performance<br/> Author: <a
                                        href="{{ path('news_article', {'id': 43, 'slug': 'The-Winners-Story-GotChosen-Video-Scholarship'}) }}"
                                        target="_blank">Kirk Seachao - Winner of the contest</a></span></p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/ZcekUuC7D9Y?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/ZcekUuC7D9Y?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Blind Makeup Tutorial!<br/> <span class="vidCat">Category: Comedy<br/> </span>
                        </p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/l6DcIBE6Iy0?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/l6DcIBE6Iy0?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Free Your Dreams<br/> <span class="vidCat">Category: Dreams Come True<br/> </span>
                        </p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/nlKKBL6E03s?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/nlKKBL6E03s?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: "My name is Shelby Steingraeber, and my hero.....is
                            Cassidy-Rae"<br/> <span class="vidCat">Category: Your Hero<br/> </span></p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/h-h5InvW1oQ?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/h-h5InvW1oQ?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Snap<br/> <span
                                    class="vidCat">Category: Comedy<br/>  </span></p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/Q37qyEwwKC8?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/Q37qyEwwKC8?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: World Hunger PSA<br/> <span class="vidCat">Category: Best Performance<br/> </span>
                        </p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/0W2Ic5hV28w?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/0W2Ic5hV28w?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: My Hero<br/> <span class="vidCat">Category: Your Hero<br/> </span>
                        </p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/vL9Ue48svbI?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/vL9Ue48svbI?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                    <div class="vid-entry"><p class="vidHead"> Title: Love Triangle Music Video<br/> <span
                                    class="vidCat">Category: Best Performance<br/> </span></p>
                        <object width="495" height="300">
                            <param name="movie" value="https://www.youtube.com/v/XYQ0NdbCKkA?version=3&amp;hl=en_US">
                            </param>
                            <param name="allowFullScreen" value="true"></param>
                            <param name="allowscriptaccess" value="always"></param>
                            <embed src="https://www.youtube.com/v/XYQ0NdbCKkA?version=3&amp;hl=en_US"
                                   type="application/x-shockwave-flash" width="495" height="300"
                                   allowscriptaccess="always" allowfullscreen="true"></embed>
                        </object>
                    </div>
                </div>
{% endblock %}
