{% extends 'GotChosenSiteBundle::layout_eg.html.twig' %}

{% block title %}EvolutionGames | {{ parent() }}{% endblock %}

{% block active_tab %}manage{% endblock %}

{% form_theme form _self %}
{% block label_asterisk %}{% if required %}<span class="req">*</span>{% endif %}{% endblock %}

{% block eg_content %}

    <h1 class="title">Edit Your Studio Avatar <span class="title-bar" style="width:585px;"></span></h1>
    
    {% if currentAvatar is not null %}
        <div align="center">
            <img src="{{ currentAvatar }}" /><br />
            Current Avatar
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_row(form.studioAvatar, {'attr': {'class': 'span4'}}) }}

    <div class="submit-row">
        <input type="submit" class="btn btn-primary" value="Update Avatar" />
    </div>

    {{ form_end(form) }}

{% endblock %}