{% extends 'GotChosenSiteBundle::layout_eg.html.twig' %}

{% block title %}EvolutionGames | {{ parent() }}{% endblock %}

{% block eg_tabs %}{% endblock %}

{% block eg_content %}

    <div class="game-container" style="text-align:left;" >
        <div class="game-btn-top">
            <a class="btn" href="{{ path('eg_faq') }}"><i class="icon icon-backward"></i> Go Back</a>
        </div>
            <div style="border: 1px solid #DDDDDD;border-radius:15px;padding:5px;">
<p style="text-decoration:underline;font-weight:bold;">What is the Evolution Games Scholarship Contest?</p>
<p>It’s an opportunity for college students and alumni to win scholarships by playing online games and providing feedback to the game developers. </p>
<p>Scholarship funds must be used for educational expenses; tuition, fees, books, supplies, equipment required for study, or towards repayment of
outstanding student loans. This is not a loan and there is no payback. Evolution Games Scholarship Contest is a FREE Scholarship.</p>

<p style="text-decoration:underline;font-weight:bold;">How long is the Evolution Games Scholarship Contest?</p>
<p>The contest will last one calendar month.

<p style="text-decoration:underline;font-weight:bold;">How many Rounds will there be in the Evolution Games Scholarship Contest?</p>
<p>There will be a new Contest every month. </p>

<p style="text-decoration:underline;font-weight:bold;">Where are the games coming from?</p>
<p>GotChosen is offering the Evolution Games platform for indie game developers to upload their games. Games can be uploaded
from anywhere in the world. Check out the game developer contest tab for more details.</p>

<p style="text-decoration:underline;font-weight:bold;">What is a Qualifier Round?</p>
<p>A Qualifier Round is where indie game developers can upload their game and compete to move on to the following month’s Contest
Round. The game developer will encourage the players to come play, vote for, and provide feedback for their game. The top developers
with the highest rank will be entered into the next Contest.</p>

<p style="text-decoration:underline;font-weight:bold;">How does GotChosen decide what games can be in the monthly Contest?</p>
<p>We don't - you do by playing, voting, and providing feedback. </p>

<p style="text-decoration:underline;font-weight:bold;">Will I earn points for a scholarship during the Qualifier Round?</p>
<p>No - but this is a great opportunity to practice and see how the games work. The feedback you give to the developers will help them
make their games even better.</p>

<p style="text-decoration:underline;font-weight:bold;">Do I have to register to play and give feedback for the qualifier games?</p>
<p>Yes and No, anyone can play all the games but registration is required to submit feedback in the Qualifier Round. </p>

<p style="text-decoration:underline;font-weight:bold;">Will there be only one Qualifier Round?</p>
<p>No - there will be multiple Qualifier Rounds.</p>

<p style="text-decoration:underline;font-weight:bold;">I don’t need a scholarship, can I just play for fun?</p>
<p>Anyone can play the games for fun. "Play for Fun" means you will not be given a rank in the contest and you are not be eligible to
win the Evolution Games Scholarship.</p>

<p style="text-decoration:underline;font-weight:bold;">Can I change my mind and apply for the scholarship instead of playing just for
fun anytime I want?</p>
<p>Yes - you can apply for the Evolution Games Scholarship anytime as long as you have qualifying educational expenses or current
student loans.</p>

<p style="text-decoration:underline;font-weight:bold;">How do I enter the Evolution Games Scholarship Contest?</p>
<p>Existing GotChosen members simply need to Login, and click the “Apply” button in the “My Scholarship Panel” for the Evolution Games
Scholarship Contest.</p>
<p>New visitors to GotChosen must complete an online registration and then click on the “Apply” button in the “My Scholarship Panel” for
the Evolution Games Scholarship Contest.</p>

<p style="text-decoration:underline;font-weight:bold;">Do I have to apply for the Contest?</p>
<p>Yes.</p>

<p style="text-decoration:underline;font-weight:bold;">How do I play in the Contest? </p>
<p>GotChosen offers multiple games for the contest. Each player receives five tokens per day (one token is required
to play one game). A player can choose to play five different games or use all of the five tokens to play the same game or any
combination. Unused tokens can be used any day later in the same month.</p>

<p style="text-decoration:underline;font-weight:bold;">What happens if I do not start on the first day of the month?</p>
<p>If you join the contest after the first day of the month, you will receive five tokens for every day missed. Example - if you begin
playing on the 5th day of the month, you will have 25 tokens.</p>

<p style="text-decoration:underline;font-weight:bold;">How many times can I play per day in the Contest?</p>
<p>A player will receive 5 tokens to play per day. Each game requires one token so you are only limited by the number of tokens you have
left.  After you have run out of tokens, you can still play for fun, which will NOT count towards your rank.</p>

<p style="text-decoration:underline;font-weight:bold;">Do I have to use my 5 tokens each day? </p>
<p>No - you will have the whole Round to use all your tokens.</p>

<p style="text-decoration:underline;font-weight:bold;">How do I win?</p>
<p>First, you must register and apply for the Evolution Games Scholarship. The player with the highest rank earned at the end of the
round will win the scholarship in that Contest.</p>

<p style="text-decoration:underline;font-weight:bold;">How do I earn points in the Contest?</p>
<p>Players can earn points in three ways based on the <strong>Point System</strong>:</p>
<ol>
<li>One point for each game won. A game is won if a player’s score is among the top half of the scores for that game that day. This is
considered a point-generating score.
<li>One point for each different game won. Player can increase their points by winning a variety of games.
<li>Points earned for helpful feedback to the game developers in either the Qualifier or the Scholarship Contest.  Players can submit
    feedback about the games to the developers. Players can earn a maximum of 100 points per Round from feedback.  Only the top 20
    highest rated feedback submissions will count towards the 100 point limit.  In addition, only the highest feedback rating per
    individual game will be used.  Example:  If a player has submitted feedback for 20 different games and all of them were rated
    "5 points: Very Helpful", then the player will receive 100 points for that Round.  Developers will rate the feedback based on the
    table below:
</ol>
<ul>
<li>0 points: Not Helpful
<li>1 point:  Somewhat Helpful
<li>3 points: Helpful
<li>5 points: Very Helpful
</ul>
<p><strong>Note</strong>: The three components listed in the order above were designed to resolve any tie in the Rank position between players for each
game.</p>
<p><strong>Practice Play</strong>: For the Contest, players will have one practice play for each game in the Contest. Practice plays do not use tokens
and do not generate points towards your rank.</p>

<p style="text-decoration:underline;font-weight:bold;">How does GotChosen calculate my Rank?</p>
<p>GotChosen calculates the player’s rank based on the ranking system.</p>

<p>The Ranking System is a computer generated number that determines the position of each player.</p>
<p>The player’s rank is generated at the end of each day and the winner is determined on the last day of each Round. </p>
<p>The criteria used to generate the player’s rank are applied in the exact order below:</p>
<ol>
<li>Number of points (from the point system above)
<li>Number of feedback replies from the developers to the player (not based on feedback sent or the number of points)
<li>Overall position among point-generating scores for the month to date (a point-generating score is earned when the player’s score
is among the top half of the scores for that game that day)
</ol>

<p style="text-decoration:underline;font-weight:bold;">How will I know if I won a game I played?</p>
<p>The Point System will determine the winner of each game at 12:01 am EST. The results will be displayed on the Player Report Card.</p>

<p style="text-decoration:underline;font-weight:bold;">What is the Player Report Card?</p>
<p>It’s the summary of your participation in the Contest located on the player’s profile page. </p>

<p style="text-decoration:underline;font-weight:bold;">Is it better to play the same game to get better at it?</p>
<p>You can choose to play any game you want but you earn more points towards your rank by winning different games each day.</p>

<p style="text-decoration:underline;font-weight:bold;">Is it important to give feedback to the game developers after the Qualifier Round?</p>
<p>Yes - when you give helpful feedback to the game developers during the Contest you can earn points that will help improve your
rank as outlined in the Point System above.</p>

<p style="text-decoration:underline;font-weight:bold;">What is the deadline to apply for the scholarship?</p>
<p>A new Contest will start on the first day of the month. You can register on any day during the Contest
Round and when that round ends, you can return to re-apply as soon as the next one starts.</p>

<p style="text-decoration:underline;font-weight:bold;">What if I don’t win? Do I get another chance?</p>
<p>Of course! We will be offering additional Contests for the Evolution Games Scholarship.  Just remember that
when one round ends and another begins, you have to re-apply for the new round.</p>

<p style="text-decoration:underline;font-weight:bold;">Who can register for the Evolution Games Scholarship?</p>
<p>The Evolution Games Scholarship is open to all participants 18 years or older. United States and international students and anyone with
student loan debt, age 18 years or older are eligible for the scholarship awards.</p>

<p style="text-decoration:underline;font-weight:bold;">How many people can register for the scholarship?</p>
<p>There are no limits to the number of registrants we can accept.</p>

<p style="text-decoration:underline;font-weight:bold;">How does the winner receive the scholarship winnings? </p>
<p>The US $1,000 scholarship award will be issued after eligibility of the winner is confirmed.</p>

<p style="text-decoration:underline;font-weight:bold;">Can I register my underage son or daughter for the scholarship? </p>
<p><strong>No</strong>, the winner of the scholarship must be 18 years or older.</p>

<p style="text-decoration:underline;font-weight:bold;">Is the Evolution Games Scholarship transferable?</p>
<p>No - the scholarship contest is not transferable.</p>

<p style="text-decoration:underline;font-weight:bold;">What if I don’t have any college debt, and I win, do I get the money?</p>
<p><strong>No</strong> – The winner must have “educational expenses” as described above and in the Rules.</p>

<p style="text-decoration:underline;font-weight:bold;">How much does it cost to enter the contest?</p>
<p>There is no cost to enter the contest or play games.</p>

<p style="text-decoration:underline;font-weight:bold;">What are the odds of winning the Evolution Games Scholarship?</p>
<p>The odds of winning are unknown and conditioned upon the number of players.</p>

<p style="text-decoration:underline;font-weight:bold;">When will the winner be announced?</p>
<p>The name of the winner will be announced by the 27th of the following month at http://www.gotchosen.com.</p>

<p style="text-decoration:underline;font-weight:bold;">Do I have to be present to win?</p>
<p><strong>No</strong> – We will contact you using the email provided in your profile page.</p>

<p style="text-decoration:underline;font-weight:bold;">Is the Evolution Games Scholarship considered income?</p>
<p><strong>Yes</strong> – All federal, state, and local taxes and any other costs and expenses not specifically stated herein as being awarded are the
winner’s sole responsibility.</p>

<p style="text-decoration:underline;font-weight:bold;">Are there any legal rules and regulations?</p>
<p><strong>Yes</strong> – These may be viewed in the <a href="{{ path('eg_rules_scholarship') }}">Rules</a> section of the website.</p>

<p style="text-decoration:underline;font-weight:bold;">How do I get more information on GOTCHOSEN?</p>
<p>Please visit www.gotchosen.com and see the <a href="{{ path('about_us') }}">About Us</a> section.</p>

<p style="text-decoration:underline;font-weight:bold;">What if I still have questions about the Evolution Games Scholarship that
aren't answered here?</p>

<p>Please visit the <a href="{{ path('eg_rules_scholarship') }}">Rules</a> section of this website or send an email to <a href="mailto:info@gotchosen.com">info@gotchosen.com.</a></p>

</div>
        </div>

{% endblock %}
