{% extends 'GotChosenSiteBundle::layout_front_content.html.twig' %}

{% block title %}News | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content">
        <div class="main">
            <h1 class="title">News <span class="title-bar" style="width:530px;"></span></h1>

            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 59, 'slug': 'GotChosen-congratulates-July-Winner'}) }}">GotChosen congratulates July $1000 Every Month Scholarship Winner - 8/27/2013</a>
                </h1>
                <div class="news-content">
                    <p>
                        You have completed your education and now you have a new road to travel - unfortunately
                        for many graduates this means student loan debt.
                    </p>
                    <p>
                        <img alt="" style="width: 190px; margin-right: 15px; margin-bottom: 15px; display: block; float: left;" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/Arhonda_Tower.jpg" />
                        Our July $1000 Every Month Scholarship winner, Arhonda Tower (<a target="_blank" href="http://www.uwf.edu" re_target="_blank">University of West Florida</a>), has $1000 to help pay down
                        her student loans.
                        <br />
                        <br />
                        Arhonda shared "I was looking for an opportunity to return back to school and become
                        an educational specialist, but my student loans prevented that from happening. However,
                        I was determined and motivated to break through that barrier and decided to look
                        for scholarships to help reduce the debt.
                        <br />
                        <br />
                        I found the gotchosen.com scholarship through <a target="_blank" href="http://www.fastweb.com" re_target="_blank">
                            Fastweb.com</a>. It was simple and easy to do. I can't express how grateful
                        I am for receiving this scholarship. It gives me hope that I will be able to complete
                        my career dreams and become a positive influence".
                    </p>
                    <p style="clear: both;">
                    </p>
                    <p>
                        <img alt="" style="width: 280px; margin-left: 15px; display: block; float: right;" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/everest.jpg" />
                        Liane Pardo-Mansfield of <a target="_blank" href="http://north-orlando.everestuniversity.edu/" re_target="_blank">
                            Everest University</a>, hosted our July $1000 Every Month Scholarship drawing.
                        Ms. Pardo-Mansfield is the Director of Student Services at the North Orlando Campus.
                        Her relentless dedication to students was a perfect match for GotChosen's commitment
                        to helping college students too.</p>
                    <p>
                        We extend our congratulations to Arhonda for her willingness to work hard and never
                        give up. We are confident her dreams will come true. Our scholarship programs are
                        very easy to register and apply for. Our dedication to your privacy means we will
                        never sell your data to anyone, ever.
                    </p>
                    <p>
                        At the home office we are continuing to work on new opportunities for scholarships
                        dollars. More details will be announced soon.
                    </p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on August
                    27, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 59, 'slug': 'GotChosen-congratulates-July-Winner'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 58, 'slug': 'GotChosen-June-1000-Every-Month'}) }}">GotChosen congratulates June $1000 Every Month Scholarship Winner - 8/5/2013</a>
                </h1>
                <div class="news-content">
                    <img alt="" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/katywide.jpg"        style="width: 618px; margin-left: auto; margin-right: auto; display: block;" />    <p>        College students tell us all the time - scholarships make a difference. Our June        $1000 Every Month winner, Katy Guetherman, is another student that knows every scholarship        counts.</p>    <p>        Katy is a student at <a href="http://www.mercer.edu" target="_blank">Mercer University</a>. She shared "I found out about GotChosen        through working in my university's bursar and financial aid office. Because I pay        for my education by myself, I applied to many scholarships in the hopes of winning        one. I am very excited about winning, and it will go towards my tuition bill in        the Fall. Thank you GotChosen!”</p>    <p>        In June, Janette Flacon of Uceda English School, partnered with GotChosen, to randomly        draw the winner. Ms. Flacon, as the School Manager, is dedicated to helping students        master English. Uceda has been working with national and international students        from their US locations since 1988.</p>    <img alt="" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/june_school.png"        style="width: 646px; margin-left: auto; margin-right: auto; display: block;" />    <p>        We are happy to welcome Katy to our winners circle. Our scholarship programs are        very easy to register and apply for. Our dedication to your privacy means we will        never sell your data to anyone, ever.    </p>    <p>        Working hard behind the scenes, in the next 2 months, we will be launching the most        unique scholarship opportunity ever. And we know more scholarship dreams will come        true.</p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on August
                    9, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 58, 'slug': 'GotChosen-June-1000-Every-Month'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 53, 'slug': 'GotChosen-May-1000-Every-Month'}) }}">GotChosen congratulates May's  $1000 Every Month Scholarship winner - 6/27/2013</a>
                </h1>
                <div class="news-content">
                    <p>
                        <img alt="" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/josh.jpg" style="width: 320px; padding-top: 10px; padding-left: 15px; float: right;" />
                        May was an exciting month for Misty Spurlock. Misty's was the winner of the May $1000 Every
                        Month Scholarship. Her name was randomly drawn by Josh Blackwell, Language Ministry Pastor
                        at <a href="http://www.firstorlando.com/" target="_blank" re_target="_blank">FirstOrlando.com</a>. Josh speaks
                        several languages and has a passion for those who are
                        living in places where a different language is spoken.  Josh was excited to be a part of
                        this event. He supports GotChosen's commitment to offer scholarship opportunities for US
                        and International students knowing this can make a difference for their educational dreams.</p>
                    <br />
                    <p>
                        <img alt="" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/misty13.jpg" style="width: 188px; padding-top: 10px; padding-right: 15px; float: left;" />
                        Misty, a student at <a href="http://www.chatfield.edu/" target="_blank" re_target="_blank">Chatfield College</a>
                        in St. Martin, Ohio shared &ldquo;I started my college
                        journey in January of 2013. As a 38 year old mother of two, this has been a big challenge.
                        A challenge financially, mentally and emotionally. I recently saw the GotChosen scholarships
                        listings on <a href="http://www.chegg.com" target="_blank" re_target="_blank">Chegg.com</a>. I knew if I won, it would be a great help towards my college
                        expenses. Thanks to GotChosen, I am one step closer to my career goal. I am thankful
                        they have become part of my college journey. A big thanks to everyone at GotChosen".</p>
                    <p>
                        It is always a great day when we are drawing another scholarship winner. With 3 unique
                        scholarship programs, the team at GotChosen stays busy. And with a few more surprises
                        to be launched in the next few months - more scholarship dreams will come true.
                    </p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on June
                    27, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 53, 'slug': 'GotChosen-May-1000-Every-Month'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 50, 'slug': 'GotChosen-congratulates-Aprils-1000-Winner'}) }}">GotChosen congratulates April's $1000 Every Month Scholarship winner - 5/24/2013</a>
                </h1>
                <div class="news-content">
                    <p>
                        <img alt="" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/anthony.jpg" style="width: 323px; padding-top: 10px; padding-right: 15px; float: left;" />
                        Anthony Portigiatti, Ph.D., president and Chancellor of <a href="http://www.fcuonline.com/" target="_blank">Florida Christian University</a> selected the winner of the
                        April's $1000 Every Month Scholarship. Ryan Wagner of Vista, CA was randomly drawn
                        using True Random Number generator at random.org. Ryan attends Palomar College,
                        in San Marco, CA and will be starting UC at San Diego in the fall.</p>
                    <p>
                        Dr. Portigatti hosted GotChosen&rsquo;s team at their facilities and welcomed the opportunity
                        to participate in choosing the winner at their state-of-the art campus. GotChosen
                        is pleased to have this partnership culminate is the announcement of April's scholarship
                        winner.</p>
                    <p>
                        <img alt="" src="http://www.gotchosen.com/Portals/0/Images/MonthlyWinner/ryan.jpg" style="width: 133px; padding-left: 15px; float: right;" />
                        Ryan shared that every penny makes a difference for college students "I had no idea
                        how I was going to pay for UC at San Diego and researched many options. Many funding
                        sources are not available to me because my parents were hit by the mortgage crisis/recession
                        and cannot contribute. It had been very stressful; winning the GotChosen scholarship
                        will help a lot. Thank you GotChosen."</p>
                    <p>
                        Congratulations again to Ryan, it was GotChosen's privilege to contribute to his
                        college dreams.
                    </p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on May
                    24, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 50, 'slug': 'GotChosen-congratulates-Aprils-1000-Winner'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 43, 'slug': 'The-Winners-Story-GotChosen-Video-Scholarship'}) }}">The Winner's Story from GotChosen's Video Scholarship - 4/23/2013</a>
                </h1>
                <div class="news-content">
                    <p> <img alt="" style="width: 168px; padding-top: 10px; padding-right: 15px; float: left;" src="http://www.gotchosen.com/Portals/0/Images/VideoContest/Kirk.jpg" /> Hello! My name is Kirk Saechao and I am the winner of GotChosen&rsquo;s Lights, Camera, Action Video Scholarship. I am a second year student at San Diego State University, majoring in computer engineering. I found out about the scholarship entirely by chance. I am involved with a fraternity called Alpha Phi Omega. Every week, we host a general meeting and we have a segment dedicated to presenting the membership body with both an internship and a scholarship. It just so happened to be my week to find a scholarship so I logged onto my Zinch account. I was scrolling down the list full of different scholarships and saw &lsquo;GotChosen&rsquo;s Video Scholarship&rsquo; contest. Reluctantly, I pressed on the link and read the information about it. I had never really made short films before, but had been in charge of taking pictures and creating Recap Videos of events for many organizations on campus. The scholarship competition began about a month prior to my finding out about it, and there had been already over two hundred entries. My chances seemed slim at best. I wasn&rsquo;t going to enter at first but a little voice in my head told me to just give it a shot. There was nothing to lose!</p> <p> Many people don&rsquo;t know, but I have always been an avid gamer, so I wanted to create a story that would reflect that geeky side of my personality. I wanted to create a storyline that many people in the gaming world would be able to connect with; yet at the same time, be likeable by those who have never touched a video game. I opted to use an extremely popular massively multiplayer online role-playing game (MMORPG) called &lsquo;MapleStory&rsquo; that I used to play as a kid and most of my friends used to play when they were younger as well. The game encourages social networking and interaction between players. In the midst and chaos of slaying monsters and completing dungeons, players often start to develop feelings for other players in this online game. And thus, I stumbled upon the foundations of my story; a boy and a girl falling for one another in an online video game. Two days of filming and several hours of editing later, <a href="http://www.gotchosen.com/VideoScholarship.aspx?t=Video#view/12573/1169880" target="_blank" re_target="_blank">&lsquo;Maple Love Story&rsquo;</a> was completed with the help of my roommate and two close friends.</p> <p> <img alt="" style="width: 277px; padding-top: 10px; padding-left: 15px; float: right;" src="http://www.gotchosen.com/Portals/0/Images/VideoContest/Kirk2.jpg" /> But perhaps making the short film was the easy part, the hard part was to get people to actually watch and vote for my video. Throughout my college experience, I networked and made a point to meet as many people as possible. I am very deeply involved with many Asian-American groups on campus plus I am a member of a large national fraternity. I went out to these groups and asked them for their support in my endeavor to which they happily obliged. I posted my story and video link on my social networking websites and nothing could have prepared me for what was to come. By the end of the first week, the outpour of support I received was unbelievable. My news feed on social networking sites were being flooded with support for my video, friends began telling their friends from other schools to watch and support, and the views on my video were jumping by the hundreds. Employees over at Nexon, the company that created MapleStory, caught whiff of my story and video, and contacted me telling me that they had shared my video on their official Twitter and Tumblr accounts. Colleagues at school told me they heard about my cause and were voting every day. Before long, my submission shot up to first place and I was quite literally in shock. Down to the last 24 hours, the contest was neck and neck. I woke up many days in second place and would reclaim first by the time I had went to bed. I like to guess that I had a group of over two hundred people strong standing behind me the whole way. In the final hours, we rallied together and made a final push. When the polls closed at 8:59:59 on the west coast, I was still on top. It was such a surreal time in my life and was nothing short of a Cinderella story.</p> <p> The scholarship prize money is definitely nothing to scoff at. College students know that any amount of money, whether $20 or $500, is extremely helpful. The money would be used to ease the huge financial burden of college; it wouldn&rsquo;t be fair to my supporters to use it any other way. Also, the fact that I&rsquo;ll be able to sustain myself throughout summer means that I won&rsquo;t have to get a job, so I can catch up on my units in summer school and perhaps get an internship with reputable videography companies in the area. It&rsquo;ll also allow me start putting away my own money in hopes of saving up for better equipment so I can replace my outdated gear. This is the end of my story! </p> <p> Thanks again to GotChosen for such an enormous opportunity!</p> <p> By Kirk Saechao<br/><em>Winner of GotChosen's "Lights, Camera, Action" Video Scholarship.</em> </p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on April
                    23, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 43, 'slug': 'The-Winners-Story-GotChosen-Video-Scholarship'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 30, 'slug': 'GotChosen-awards-second-GotScholarship-40K'}) }}">GotChosen awards its second GotScholarship $40K Give Away - 4/10/2013</a>
                </h1>
                <div class="news-content">
                    <p><img alt="" width="300" style="padding-top: 10px; padding-right: 15px; padding-bottom: 15px; float: left;" src="http://www.gotchosen.com/portals/0/images/2nd40kdrawing/Craig Domeck.jpg" /><em>Craig Domeck, Ed.D., Dean of </em><a href="http://www.pba.edu/orlando"><em>Palm Beach Atlantic University &ndash; Orlando</em></a><em> </em>&nbsp;selected the winner of the 2<sup>nd</sup> GotScholar &nbsp;ship $40K Give Away . Dr. Domeck<strong>&lsquo;s</strong> involvement with the GotChosen scholarship reflects his commitment to support the dreams of students looking for ways to pay for college that will reduce &nbsp;future financial burdens. </p>
                    <p>The 2<sup>nd</sup> GotScholarship $40K winner was drawn using &nbsp;<a href="http://www.random.org/">www.random.org</a> with oversight&nbsp; from Kathy Voldseth, CPA, Manager, Assurance Services from the auditing firm<strong> </strong><a href="http://cfrcpa.com/">Cross, Fernandez and Riley, LLP</a><strong>. &nbsp;</strong>The True Random Number generator scientifically ensures every entry has an equal chance of winning. </p>
                    <p><img alt="" width="223" style="padding-top: 10px; padding-bottom: 15px; padding-left: 15px; float: right;" src="http://www.gotchosen.com/portals/0/images/2nd40kdrawing/carmela and daniel.jpg" />The results were a family affair. Carmela Guerriero-Cuccio was the randomly drawn winner of the 2<sup>nd</sup> &nbsp;$40,000 scholarship offered by GotChosen, Inc. Ms. Cuccio stated &ldquo;I am so thrilled that my name was drawn and even more ecstatic that I can transfer this prize to my cousin Daniel. He will make great use of this scholarship and absolutely deserves it.&rdquo; </p>
                    <p>&nbsp;Why would someone give away $40,000 to a cousin? Daniel Guerriero of New Jersey, the final winner of the 2<sup>nd</sup> GotScholarship $40K Give Away learned about the scholarship while he was on <a href="http://www.fastweb.com/">Fastweb.com</a>. Daniel said &ldquo;I was looking at all of the possible scholarships I was eligible for I figured that I might as well give this scholarship a shot. It was really simple to sign up for the scholarship&rdquo;. </p>
                    <p>When Daniel realized he could increase his chances of winning with sponsors, he sent some friends and family members invitations to support him. His cousin, Carmela, who took out student loans while pursuing her Masters, took the few minutes needed to apply since the winnings were transferable, and became his sponsor. </p>
                    <p>After finding out he won, Daniel shared &ldquo;Carmela always has been very supportive of me in all of my endeavors ever since I was a little kid. Thanks to Carmela, I am now the proud winner of this coveted scholarship&rdquo;. At the next Guerriero family holiday there will be lots to talk about.</p>
                    <p>GotChosen scholarship programs encourage families, teachers, coaches and friends to become sponsors so they can support participants&rsquo; college dreams. Asking for sponsors helps students articulate their plans to pay for a college education. And when the sponsor also applies for the scholarship, they are providing two additional entries for the participant.</p>
                    <p><img alt="" width="262" style="padding-top: 10px; padding-right: 15px; padding-bottom: 15px; float: left;" src="http://www.gotchosen.com/portals/0/images/2nd40kdrawing/Oz Silva and Dean Craig Domeck.jpg" />Mr. Osvaldo Silva, Founder and CEO of GotChosen, Inc., made his commitment to college education when his company was just starting &ldquo;we did not feel we could wait to &ldquo;make it&rdquo; before we started giving back&rdquo;. The burden of student loans debt is a global problem. For many students throughout the world, paying for college can be a bigger challenge than going to college.&nbsp; Mr. Silva is determined to change the financial future of current and prospective students nationally and internationally &ndash; one student at a time.</p>
                    <p>GotChosen offers several scholarship opportunities. In addition to the GotScholarship, they recently launched the Lights, Camera, Action Video Scholarship which will award $3000 to the video with the most votes. The newest program is the GotChosen $1000 Every Month Scholarship. A new winner will be randomly chosen every month. All scholarship winnings must be used for educational expenses or repayment of current student loans.</p>
                    <p>For more information about GotChosen, Inc. and how to enter its multiple scholarship programs visit www.gotchosen.com.</p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on April
                    10, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 30, 'slug': 'GotChosen-awards-second-GotScholarship-40K'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 29, 'slug': 'The-Winners-Story-from-the-second-GotScholarship'}) }}">The Winner's Story from the second GotScholarship - 4/10/2013</a>
                </h1>
                <div class="news-content">
                    <p><img alt="" width="150" style="padding-top: 10px; padding-bottom: 15px; padding-left: 15px; float: right;" src="http://www.gotchosen.com/portals/0/images/2nd40kdrawing/carmela cuccio.jpg" />One decision can change a life. Carmela Cuccio was asked by her cousin Daniel to sponsor him for a scholarship drawing. &nbsp;Even though there is a 20 year age difference, Ms. Cuccio shared they have always been close. Carmela knew well the burden of student debt, having used student loans to finance her Master&rsquo;s program. Ms. Cuccio stated &ldquo;GotChosen is doing something wonderful by offering students the opportunity to follow their dreams without continuing to incur further debt simply by entering a contest&rdquo;. </p>
                    <p>Taking only a few short minutes, Carmela willingly became a sponsor for Daniel. She also applied for the scholarship, knowing it would be 100% transferable if she won. This decision gave Daniel two more entries for the scholarship and that was what he needed to ultimately become the final winner of the 2<sup>nd</sup> GotScholarship $40K Give Away.</p>
                    <p><img alt="" width="168" style="padding-top: 10px; padding-right: 15px; padding-bottom: 15px; float: left;" src="http://www.gotchosen.com/portals/0/images/2nd40kdrawing/daniel winner.jpg" />Ms. Cuccio stated &ldquo;I am so thrilled that my name was drawn and even more ecstatic that I can transfer this prize to my cousin Daniel. He will make great use of this scholarship and absolutely deserves it.&rdquo;</p>
                    <p>Daniel Guerriero of New Jersey received a call from his cousin Carmela. &nbsp;Daniel shared &ldquo;when she told me that she had an &ldquo;Easter gift&rdquo; for me, I was a little confused. She then told me the fantastic news. She had won this amazing scholarship and was transferring the prize to me. I remained speechless for a good five minutes only able to produce the words, Oh my,&rdquo; and he had to wait to hear it officially from GotChosen. </p>
                    <p>When Daniel was asked how he learned about the GotScholarship he said &ldquo;I thought it was way too good to be true. However, while I was on FastWeb.com looking at all of the possible scholarships I was eligible for I figured that I might as well give this scholarship a shot. It was really simple to sign up for the scholarship&rdquo;. </p>
                    <p><img alt="" width="150" style="padding-top: 0px; padding-bottom: 15px; padding-left: 15px; float: right;" src="http://www.gotchosen.com/portals/0/images/2nd40kdrawing/happy dance.jpg" />Daniel realized he could increase his chances of winning with sponsors, so he sent some friends and family members invitations to support him. This decision changed Daniel&rsquo;s life. &ldquo;I am one of the youngest members of the Guerriero family and hoping to become the first member of my immediate family with a college degree. &nbsp;This scholarship takes away a good amount of the financial burden of college and is something I will be truly grateful about for many years to come.&rdquo; </p>
                    <p>&ldquo;Carmela always has been very supportive of me in all of my endeavors ever since I was a little kid. Thanks to Carmela, I am now the proud winner of this coveted scholarship&rdquo;. Daniel plans to complete his studies at University of South Carolina and continue on for a Masters in physical therapy.</p>
                    <p>By Daniel Guerriero<br />
                        <i>Winner of the 2<sup>nd</sup> GotScholarship $40K Give Away</i></p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on April
                    10, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 29, 'slug': 'The-Winners-Story-from-the-second-GotScholarship'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 28, 'slug': 'New-Scholarship'}) }}">New Monthly Scholarship Program - 4/01/2013</a>
                </h1>
                <div class="news-content">
                    <p>GotChosen has announced an additional easy-to-apply for scholarship program. A monthly winner will receive $1,000 towards their educational expenses. Through this newly implemented drawing, GotChosen will be able to help a broader range of students every month. </p>
                    <p>It is understood that students experience various reoccurring expenses such as materials from pencils to textbooks, as well as tutoring costs to monthly tuition installments while attending school. With the <em>GotChosen $1000 Every Month Scholarship</em> it is now possible to cover some of those common costs.</p>
                    <p>The monthly program offers a free and simple solution to participants 18 years or older.&nbsp;Paticipants&nbsp;need to&nbsp;apply every month in order to be eligible for the current monthly drawing. </p>
                    <p>keep a lookout for any additional announcements as GotChosen is preparing to launch yet another monthly program&nbsp;for the sponsors involved in the <em>3<sup>rd</sup> GotScholarship $40K Give Away. </em></p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on April
                    9, 2013<span style="float: right"><a href="{{ path('news_article', {'id': 28, 'slug': 'New-Scholarship'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 17, 'slug': 'GotChosen-awards-its-1st-Scholarship'}) }}">GotChosen awards its first GotScholarship $40K Give Away - 11/10/2012</a>
                </h1>
                <div class="news-content">
                    <p>David Fitzpatrick of Gaithersburg, MD wins the&nbsp;1<sup>st</sup> <a href="http://www.gotchosen.com/Scholarship.aspx">GotScholarship $40K to Give Away</a>. And GotChosen will continue its commitment to fulfill college dreams with the start of the 2<sup>nd</sup> GotScholarship $40K to Give Away with even more opportunities for future, current and graduated&nbsp;students.</p>
                    <p><img alt="" width="384" height="229" style="padding-top: 5px; padding-right: 15px; padding-bottom: 5px; float: left;" src="{{ asset('bundles/gotchosensite/images/drawing_selection.png') }}" /> GotChosen partnered with Dr. Steve D. Whitaker, Ph.D., Head of School at <a href="http://www.thefirstacademy.org/">The First Academy</a>, in Orlando, Florida and Patrick Barrett, Director of Strategic Initiatives at The First Academy for the official drawing of the&nbsp;1<sup>st</sup>&nbsp;GotScholarship $40 To Give Away. </p>
                    <p>The winner was determined using the True Random Number generator at <a href="http://www.random.org/">www.random.org</a>.&nbsp; This independent website is a cryptographically strong random number generator utilizing random chaotic atmospheric data. </p>
                    <p>The process of generating true random numbers involves identifying little, unpredictable changes in the data. RANDOM.ORG uses little variations in the amplitude of atmospheric noise. The True Random Number generator ensured every entry has an equal chance of winning. </p>
                    <p>David Fitzpatrick, the lucky winner, was randomly drawn by Dr. Whitaker to win the&nbsp;1<sup>st</sup> <a href="http://www.gotchosen.com/Scholarship.aspx">GotScholarship $40K to Give Away</a>. It was a simple and easy registration process that David completed at the GotChosen.com website. He increased his chances of winning by using social media and gathering sponsors. David had nine sponsors &ndash; this was equivalent to ten entries for the <a href="http://www.gotchosen.com/Scholarship.aspx">GotScholarship $40K to Give Away</a>.</p>
                    <p><img alt="" style="padding-top: 10px; padding-right: 0px; padding-bottom: 15px; float: right;" src="{{ asset('bundles/gotchosensite/images/davidlab.png') }}" /> David states<em> &ldquo;Like many of you, I too registered for an account that organizes and notifies me of current scholarships available, which is how I stumbled across the GotChosen scholarship giveaway. My purpose for applying for this scholarship was probably the same as yours; to augment my financial aid and ease the burden of college debt on my family.&nbsp; </em></p>
                    <p><em>Although the odds did not seem in my favor, I pushed myself to realize that this giveaway was chosen at random and that sponsors will increase my chances of winning&rdquo;.</em>&nbsp; And David&rsquo;s dream to pay for his education without the burden of student loans will now come true.</p>
                    <p>David currently studies at Montgomery Community College in Maryland with plans to continue at University of Maryland. David will complete his courses in Environmental Science and Policy Major this year and now with his <a href="http://www.gotchosen.com/Scholarship.aspx">GotScholarship $40K to Give Away</a> winnings David shared <em>&ldquo;</em><em>This scholarship provides a tremendous opportunity for me to pursue my education goals in environmental science and policy&rdquo;</em></p>
                    <p>GotChosen is an innovative startup in digital media currently headquartered in Orlando, FL. The company is developing an unparalleled interactive media and informational exchange experience for users. This unmatched interaction will give a purpose to prospective and current students and their families, alumni, and the educational institutions committed to impacting the world.&nbsp;</p>
                    <p> An essential element of the core values of GotChosen is a deep-rooted commitment to give back. David is the first to benefit from the focus of making higher education available to more students.</p>
                    <p style="margin: 0in 0in 10pt;">It&rsquo;s easy and free to&nbsp;<a href="http://www.gotchosen.com/Scholarship.aspx">register</a> and apply for the chance to win the&nbsp;2<sup>nd</sup> GotScholarship $40K to Give Away.</p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/Oz/aid/3/Default.aspx">Oz</a> on October
                    29, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 17, 'slug': 'GotChosen-awards-its-1st-Scholarship'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 16, 'slug': 'The-Winners-Story'}) }}">The Winner's Story from the first GotScholarship - 11/10/2012</a>
                </h1>
                <div class="news-content">
                    <img alt="" style="padding-top: 15px; padding-right: 15px; padding-bottom: 15px; float: left;" src="{{ asset('bundles/gotchosensite/images/davidnews.jpg') }}" />
                    <p>Hello everyone! My name is David Fitzpatrick and I am a junior attending Montgomery Community College in Maryland. First off, let me start out by saying how grateful and honored I am to be randomly chosen for this scholarship. </p>
                    <p>Currently, I am studying as an Environmental Science and Policy Major and would like to finally transfer to the University of Maryland. Winning this scholarship will aid me in my self-perpetuating odyssey to help our planet.</p>
                    Like many of you, I too registered for an account that organizes and notifies me of current scholarships available, which is how I stumbled across the GotChosen scholarship giveaway. My purpose for applying for this scholarship was probably the same as yours; to augment my financial aid and ease the burden of college debt on my family.&nbsp;&nbsp;&nbsp;
                    <p>Although the odds did not seem in my favor, I pushed myself to realize that this giveaway was chosen at random and that sponsors will increase my chances of winning. For those of you who are familiar with the book <i>The Hunger Games </i>by Suzanne Collins, the only way to explain how I feel right now is to imagine that you&rsquo;ve emerged victorious from the Hunger Games with the help of your sponsors. </p>
                    <p>This scholarship will certainly be put to good use towards my tuition, debt, and books. Additionally, I will hand down any money I do not use. This scholarship provides a tremendous opportunity for me to pursue my education goals in environmental science and policy. Thanks to this scholarship, I will do my absolute best to make a change and I will not let any of you down. </p>
                    <p>Once again, I am truly grateful for this opportunity. I do not know if it was fate or luck; however, I do know you could win this scholarship too.</p>
                    <p>By David Fitzpatrick<br />
                        <i>Winner of the 1<sup>st</sup> GotScholarship $40K to Give Away</i></p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/Oz/aid/3/Default.aspx">Oz</a> on October
                    19, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 16, 'slug': 'The-Winners-Story'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 15, 'slug': 'Student-Debt-is-a-Worldwide-Problem-GotChosen-Reso'}) }}">Student Debt is a Worldwide Problem, GotChosen Resolves to Do Something About it - 9/27/2012</a>
                </h1>
                <div class="news-content">
                    <p style="margin: 12pt 0in 3pt;">With the registration period for the first GotScholarship: $<i>40K to Give Away</i> drawing ending on September 30th, GotChosen has even bigger plans in mind. &nbsp;While the participation of students and friends has been very successful, GotChosen CEO, Oz Silva, said &ldquo;I was intrigued by the diversity of website visitors from over 7,000 cities in over 100 countries." &nbsp;He added that many of the locations were ineligible for the scholarship. &ldquo;While student debt in the U.S. is greater than anywhere else, it is clear students and their families in other countries are searching for solutions too.&nbsp; <s></s></p>
                    <p style="margin: 12pt 0in 3pt;">Although as part of phase 1 of the business plan, the <i>GotScholarship:</i> <i>$40K to Give Away</i> drawing was begun primarily as the GotChosen branding strategy while the company developed its innovative next generation services, Silva soon realized that the situation of college debt required a more comprehensive long term solution. &nbsp;Accordingly, Silva announced both more than 10 new scholarships and&nbsp;GotChosen international expansion to Canada, Mexico, Brazil, Columbia, and Chile.</p>
                    <p style="margin: 0in 0in 10pt;"><b><br />
                            Scholarship and Website News</b>: To inaugurate phase 2 of the GotChosen business plan, a new $40K to Give Away drawing will begin in October, 2012, and will be available to participants in all six countries. &nbsp;Students in those countries will also be eligible to participate in a Video Contest Scholarship based on optional preselected subjects.&nbsp; There will also be two monthly scholarships contest (starting in January&nbsp; 2013), one for the North American bloc, and the other for the Latin American bloc.</p>
                    <p style="margin: 0in 0in 10pt;">Also as part of phase 2, a completely revised GotChosen website will be published in October in English, Spanish, and Portuguese.&nbsp; The new GotChosen website will feature mobile-friendly multilingual registration and navigation features that will be implemented throughout October and November.</p>
                    <p style="margin: 0in 0in 10pt;"><b>Summary: </b>GotChosen&rsquo;s roadmap began with the GotScholarship: $40k to Give Away drawing, the largest single private national scholarship initiative ever seen in the United States. &nbsp;Going international expands the market and more importantly, the benefits to be derived from GotChosen&rsquo;s growing portfolio of scholarships.</p>
                    <p>Silva says, "The comments from students and others registering for our initial scholarship confirms how serious our educational and student loan situation is, and how important it is for everyone to try to do something about it. Fortunately, that's our business, and we look forward to helping as many individuals as possible over the coming years."</p>
                    <p> For more information about GotChosen, please visit <a href="http://www.gotchosen.com/">www.gotchosen.com</a></p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href=""></a> on September
                    20, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 15, 'slug': 'Student-Debt-is-a-Worldwide-Problem-GotChosen-Reso'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 13, 'slug': 'Social-Networking-Functionality-with-a-Purpose'}) }}">Social Networking Functionality with a Purpose - 9/25/2012</a>
                </h1>
                <div class="news-content">
                    <p style="margin: 0in 0in 10pt;">GotChosen will not duplicate existing social networking sites.&nbsp; Instead GotChosen will provide a new user interface that encourages enrolled students and potential students to interact with each other and with educational institutions both domestically and internationally.&nbsp; &nbsp;This will provide students with unprecedented opportunities to network and explore potential degree programs, research opportunities, athletics, and facilities available to them at universities all over the world.&nbsp; When students become contributors by responding to questions they open the door to new friends.&nbsp; Potential students can connect online before they move, so once they arrive on campus they may already know some fellow students, making the transition to college life a bit easier. </p>
                    <p style="margin: 0in 0in 10pt;">To accomplish this GotChosen will create a searchable database to allow students to make inquires and utilize filters to focus on the information most important to them.&nbsp; This will make it possible to compare potential universities and programs to find the one most suited for them and their career choice.&nbsp; GotChosen will become a valuable service that will help students make informed decisions about their future.&nbsp; This social networking utility will offer outstanding results with real benefits.</p>
                    <p style="margin: 0in 0in 10pt;">In addition to this remarkable database, we will also feature forums.&nbsp; These may include but are certainly not limited to subjects such as proprietary university scholarships, and discussions about the advantages and disadvantages of attending various schools, athletic programs, the merits of potential degree programs and the learning possibilities provided by studying abroad. &nbsp;&nbsp;</p>
                    <p style="margin: 0in 0in 10pt;">GotChosen would like to make these outstanding tools available to as many students as possible.&nbsp; To accomplish this, the GotChosen website will feature mobile-friendly multilingual registration, navigation, and participation, as well as enhanced integration with Facebook and other social networking sites.</p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on September
                    20, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 13, 'slug': 'Social-Networking-Functionality-with-a-Purpose'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 11, 'slug': 'Student-Debt-is-also-Worldwide-Problem'}) }}">Student Debt is a Worldwide Problem - 9/25/2012</a>
                </h1>
                <div class="news-content">
                    <p style="margin: 0in 0in 10pt;">While issues surrounding student debt regularly make headlines in the United States, they are equally serious in many other parts of the world. &nbsp;Even though the colossal size of the nearly $1 trillion dollars in U.S. student debt dwarfs the amount of student debt in other countries, the problems that student debt have created elsewhere are no less serious. </p>
                    <p style="margin: 0in 0in 10pt;">In many countries, parents must co-sign all student debt. &nbsp;In others, the interest rate (about 10% in Mexico, for example) is far higher than in the U.S. &nbsp;In Chile, there are more than 100,000 student loan defaulters that owe an average of $5,400 each, which is about a third the country&rsquo;s annual per capita income.* There have been demonstrations and protests throughout the world, and the situation remains a challenge as economies everywhere face financial difficulties, and governments continue to reduce the amount of money they devote to support both educational institutions and student loans.</p>
                    <p style="margin: 0in 0in 10pt;">* Ensino Superior, 7/8/2012</p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on September
                    20, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 11, 'slug': 'Student-Debt-is-also-Worldwide-Problem'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 5, 'slug': 'GotChosen-Receives-Coverage-on-Yahoo-News'}) }}">GotChosen Receives Coverage on Yahoo! News! - 5/03/2012</a>
                </h1>
                <div class="news-content">
                    <p>GotChosen's scholarship initiative was recently picked up on Yahoo! News! To view the coverage please visit:</p>
                    <p>&nbsp; <a href="http://news.yahoo.com/orlando-based-company-gotchosen-launches-largest-single-private-071205627.html">http://news.yahoo.com/orlando-based-company-gotchosen-launches-largest-single-private-071205627.html</a></p>
                    <p>More news coverage coming soon!</p>
                    <p>&nbsp;</p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on May
                    4, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 5, 'slug': 'GotChosen-Receives-Coverage-on-Yahoo-News'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 4, 'slug': 'Orlando-based-Company-GotChosen-Launches-the-Large'}) }}">Orlando-based Company, GotChosen, Launches the Largest Single Private National Scholarship Initiative in the United States - 5/01/2012</a>
                </h1>
                <div class="news-content">
                    <p style="text-align: justify;"><strong>FOR IMMEDIATE RELEASE</strong></p>
                    <p> </p>
                    <p style="text-align: center;"><strong></strong></p>
                    <p> </p>
                    <p style="text-align: center;"><strong></strong></p>
                    <p> </p>
                    <p style="text-align: center;"><strong>Orlando-based Company, GotChosen, Launches the Largest Single Private National&nbsp;</strong></p>
                    <p style="text-align: center;"><strong>Scholarship Initiative in the United States</strong></p>
                    <p> </p>
                    <p><strong></strong></p>
                    <p> </p>
                    <p><strong></strong></p>
                    <p> </p>
                    <p><strong>Orlando, FL, May 1, 2012 &ndash; </strong>Today,<strong> </strong>GotChosen, Inc. (www.gotchosen.com), an innovative digital media and development company headquartered in Orlando, FL, is launching the largest scholarship drawing in the nation titled, &ldquo;GotScholarship: $40k to Give Away!&rdquo;<em> </em>&nbsp;There is no cost to participate, and the company will award $40K to one winner with a dream of attending college, or to pay for existing college loans. The scholarship may also be transferred by the winner to an individual of any age to pay for educational expenses.</p>
                    <p> </p>
                    <p><strong></strong></p>
                    <p> </p>
                    <p>The concept for the company was conceived during the economic struggles of 2008 by Founder and CEO, Osvaldo Silva.&nbsp;Silva&rsquo;s focus was to assist anyone with the desire of completing their degree in higher education, but who did not have the financial means to do so. Silva&rsquo;s philanthropic interest developed the first phase of the corporate vision beginning with the $40K scholarship drawing. The program will instantly establish GotChosen&rsquo;s primary mission of assisting individuals and families to achieve their educational potential and life aspirations, and to introduce the company on a large national scale. Subsequent drawings will enlarge the scope of the company&rsquo;s endeavors, but will remain focused on the college market.</p>
                    <p> </p>
                    <p> </p>
                    <p>&ldquo;An essential element of the core values of GotChosen is a deep-rooted need and desire to give back,&rdquo; said Silva.&nbsp;&ldquo;Our team is eager to witness the wonderful things that will be done by the recipients, and to how this scholarship will change their futures. We hope that our donation to their dreams was the difference that made it all possible.&rdquo; </p>
                    <p> </p>
                    <p> </p>
                    <p>The amount of student loans acquired in 2011 crossed the $100 billion mark for the first time in history, and total loans outstanding will exceed $1 trillion for the first time this year. The Federal Reserve Bank of New York, the U.S. Department of Education, and private sources report that Americans now owe more on student loans than on credit cards. &nbsp;</p>
                    <p> </p>
                    <p> </p>
                    <p>As the cost of higher education continues to increase, the traditional channels for student loans and grants are being limited by ongoing credit tightening, economic weakness, and governmental policies. &nbsp;For some, this situation creates an insurmountable obstacle to a college education, making the $40,000 scholarship from GotChosen a new potential way for students to achieve their goals. &nbsp;</p>
                    <p> </p>
                    <p> </p>
                    <p>The GotChosen scholarship is open to all: current students, previous students with outstanding loans, or even future college students. It is free and easy to enter, as well as being 100% transferable. In addition, the more individuals recruited to enter the contest on a student&rsquo;s behalf, the more potential entries will exist to increase the student&rsquo;s chances of winning.&nbsp;</p>
                    <p><strong>You may register to enter for your chance to win the GotScholarship: $40K to Give Away Drawing by visiting the GotChosen website at: www.gotchosen.com beginning May 1, 2012 and the contest will close on September 30, 2012.</strong></p>
                    <p> </p>
                    <p><strong><span style="text-decoration: underline;"></span></strong></p>
                    <p> </p>
                    <p>&ldquo;This is only the first phase of our efforts,&rdquo; Silva further added. &ldquo;We anticipate creating a long line of scholarship recipients who will benefit.&nbsp; It is an exciting time for our young company, and we are hopeful that we will become a powerful creative and economic contributor for many years to come.&rdquo;</p>
                    <p> </p>
                    <p><strong><span style="text-decoration: underline;"></span></strong></p>
                    <p> </p>
                    <p><strong><span style="text-decoration: underline;">About GotChosen:</span></strong></p>
                    <p> </p>
                    <p><strong><span style="text-decoration: underline;"></span></strong></p>
                    <p> </p>
                    <p>GotChosen is an innovative startup in digital media and development headquartered in Orlando, FL. The company&rsquo;s primary aim is to deliver an unparalleled interactive media and entertainment experience to users by bridging gaps in digital and traditional media. This vision will be implemented on computers, tablets, smartphones and smart TVs in 2013-2014.</p>
                    <p> </p>
                    <p> </p>
                    <p><strong>For more information about GotChosen, please visit: www.gotchosen.com.</strong></p>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p style="text-align: center;"><strong>###</strong></p>
                    <p> </p>
                    <p>&nbsp;</p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href="http://www.gotchosen.com/News/TabId/86/Author/GotChosen-Administrator/aid/45/Default.aspx">GotChosen-Administrator</a> on May
                    2, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 4, 'slug': 'Orlando-based-Company-GotChosen-Launches-the-Large'}) }}">Comments</a>
            0</span>
                </div>
            </div>
            <div class="post">
                <h1>
                    <a href="{{ path('news_article', {'id': 3, 'slug': 'News-Section-Coming-Soon'}) }}">News Section Coming Soon!</a>
                </h1>
                <div class="news-content">
                    <p>Hi everyone!</p>
                    <p>Thank you for visiting the News section of GotChosen.com! We are looking forward to keeping you continually updated in the weeks to come with posts and information, media coverage and more, beginning with our first official announcement coming soon!</p>
                    <p>In the meantime, please visit our new, official Facebook page at: www.facebook.com/GotChosen and "Like" to stay connected within this community as well.</p>
                    <p>Thank you again and on behalf of the GotChosen News Team, we can't wait to meet you!</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="socialnetwork">
                </div>
                <div class="line">
                </div>
                <div class="footer">
                    Posted by <a href=""></a> on January
                    9, 2012<span style="float: right"><a href="{{ path('news_article', {'id': 3, 'slug': 'News-Section-Coming-Soon'}) }}">Comments</a>
            0</span>
                </div>
            </div>


        </div>

        <div class="sidebar">
            <div class="sb-block">
                <div id="fb-root"></div>
                <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                <p style="font-weight: bold; font-size: 14px;">Like us on Facebook!</p>

                <div class="fb-like" data-href="https://www.facebook.com/GotChosen" data-send="false" data-width="200"
                     data-show-faces="false">
                </div>
            </div>

            <div class="sb-block">
                <a href="http://www.valorebooks.com/affiliate/url/siteID=cuReXk?url=http://www.valorebooks.com"><img
                            src="{{ asset('bundles/gotchosensite/images/valore_ad_buybooks_250x400.jpg') }}"></a>
            </div>

            <div class="sb-block">
                <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                <script>new TWTR.Widget({ version: 2, type: 'profile', rpp: 4, interval: 30000, width: 250, height: 300, theme: { shell: { background: '#003399', color: '#ffffff' }, tweets: { background: '#ffffff', color: '#666666', links: '#ff9900' } }, features: { scrollbar: false, loop: false, live: false, behavior: 'all' }}).render().setUser('GotChosen').start();</script>
            </div>
        </div>
    </div>

{% endblock %}