{% extends 'GotChosenSiteBundle::layout_eg.html.twig' %}

{% block title %}EvolutionGames | {{ parent() }}{% endblock %}

{% block active_tab %}qualifier{% endblock %}

{% block eg_content %}

    <div class="qualifier-games">
<div class="alert alert-error">
 <strong>Our first season of Evolution Games has ended. The next season will start in the Fall.</strong>
</div>
    <div class="alert-success alert" style="margin-bottom:0px;padding:9px 5px 0px 2px; text-align: center;"><p style="font-size:11px;line-height:11px;text-align: center;">Help us choose games for the next Contest by playing &amp; voting for your favorite games. Games are displayed randomly.</p></div>
        {% if filteredBy %}
            <h4>Filtered By: {{ filteredBy }}</h4>
        {% endif %}

        {% if qualifierGames|length > 0 %}
            <ul style="display:inline-block; width:700px; margin: 5px 0px 5px 5px;border: 1px solid #DDDDDD;border-radius:15px;padding:5px 5px 5px 10px;">
            {% for game in qualifierGames %}

            <li class="game" style="display:inline-block; border-bottom:1px solid #AAAAAA;float:none;">
                <div style="padding:5px;line-height:12px;text-align:left;width:160px;">
                    <p class="vidHead" style=" line-height:12px;font-size:12px;text-align: left;margin-bottom: 2px;">
                    <a href="{{ path('eg_game', {'id': game.id, 'slug': game.gameName|gc_slugify}) }}">{{ game.gameName|length > 55 ? game.gameName[:55] ~ '...' : game.gameName }}</a>
                    </p>
                        <span class="vidCat" style="font-size:11px;line-height:11px;text-align: left;">Cat: {{ game.genre.name }}<br/>
                            By: <em><a href="{{ path('eg_game', {'id': game.id, 'slug': game.gameName|gc_slugify}) }}">{{ game.studioName }}</a></em></span>

                                    <div class="vote-btn" style="padding:5px 15px 5px 5px;text-align: left;">
                                        <a class="btn btn-success btn-block"

                                           href="{{ path('eg_game', {'id': game.id, 'slug': game.gameName|gc_slugify}) }}" id="vote_button_{{ game.id }}">
                                            <strong>Vote and Play!</strong>
                                        </a>
                                    </div>


                {% if game.screenshotFile %}
                    {% spaceless %}
                    <div style="height:100px;width:150px;min-height:100px;background-color:black;text-align:center;">
                        <span style="vertical-align: middle; height: 100%; display: inline-block;"></span>
                        <a href="{{ path('eg_game', {'id': game.id, 'slug': game.gameName|gc_slugify}) }}"><img src="{{ game.screenshotFile }}" class="size-qualifier" alt="{{ game.gameName }}" /></a>
                    </div>
                    {% endspaceless %}
                {% else %}
                    {% spaceless %}
                    <div style="height:100px;width:150px;min-height:100px;background-color:black;text-align:center;">
                        <span style="vertical-align: middle; height: 100%; display: inline-block;"></span>
                        <a href="{{ path('eg_game', {'id': game.id, 'slug': game.gameName|gc_slugify}) }}"><img src="{{ asset('bundles/gotchosensite/images/no_picture.png') }}" class="size-qualifier" alt="{{ game.gameName }}" /></a>
                    </div>
                    {% endspaceless %}
                {% endif %}
                </div>
            </li>
            {% endfor %}
            </ul>

        {% else %}
            <div align="center">No qualifier games available for your current filter settings. <a href="{{ path('eg_qualifier') }}">List all qualifier games?</a></div>

        {% endif %}
    </div>

    <div class="qualifier-filters">
        <h3>Filters</h3>
        <ul class="filter-list" style="margin-left:15px;">
            <li>
                {% if not filteredBy %}<strong>{% endif %}
                <a href="{{ path('eg_qualifier') }}">All Games</a>
                {% if not filteredBy %}</strong>{% endif %}
            </li>
            <li>
                {#<a href="#" id="genre_toggle">By Genre &raquo;</a>#}
                <span>By Genre</span>
                <ul id="genre_filters">
                    {% for genre in genres %}
                    <li>
                        {% if currentGenre and currentGenre.name == genre.name %}<strong>{% endif %}
                        <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'genre': genre.id})) }}">{{ genre.name }}</a>
                        {% if currentGenre and currentGenre.name == genre.name %}</strong>{% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                {#<a href="#" id="studio_toggle">By Studio Name &raquo;</a>#}
                <span>By Studio Name</span>
                <ul id="studio_filters">
                    <li>
                        <div class="input-append" style="margin-left:-25px;">
                            <form action="{{ path(app.request.get('_route')) }}" method="get">
                                {% if currentGameTitle %}<input type="hidden" name="game_title" value="{{ currentGameTitle }}">{% endif %}
                                {% if currentGenre %}<input type="hidden" name="genre" value="{{ currentGenre.id }}">{% endif %}
                                <input type="text" class="span2" name="studio" id="studio" value="{{ currentStudio }}" style="width:125px;">
                                <button type="submit" class="btn"><i class="icon-search"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <span>By Game Title</span>
                <ul>
                    <li>
                        <div class="input-append" style="margin-left:-25px;">
                            <form action="{{ path(app.request.get('_route')) }}" method="get">
                                {% if currentStudio %}<input type="hidden" name="studio" value="{{ currentStudio }}">{% endif %}
                                {% if currentGenre %}<input type="hidden" name="genre" value="{{ currentGenre.id }}">{% endif %}
                                <input type="text" class="span2" name="game_title" id="game_title" value="{{ currentGameTitle }}" style="width:125px;">
                                <button type="submit" class="btn"><i class="icon-search"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
            {# <li>
                {% if app.request.get('_route') == 'eg_qualifier_popular' %}<strong>{% endif %}
                <a href="{{ path('eg_qualifier_popular', app.request.query.all) }}">By # of Plays</a>
                {% if app.request.get('_route') == 'eg_qualifier_popular' %}</strong>{% endif %}
            </li> #}
        </ul>

    </div>
        <div style="clear:both;"></div>
            {% if numPages > 1 %}
            <div class="pagination" style="width:500px;float:left;">
                <ul>
                    {% if page != 1 %}
                    <li><a href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: page - 1})) }}">&laquo;</a></li>
                    {% endif %}

                    {% if page == 1 %}
                    <li class="disabled"><a href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: 1})) }}">1</a></li>
                    {% else %}
                    <li><a href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: 1})) }}">1</a></li>
                    {% endif %}
                    <li class="disabled"><a href="#">...</a></li>

                    {% if page == 1 %}
                    {% set prevPage = page - 1%}
                    {% set nextPage = min(numPages, page + 3)%}
                    {% elseif page == numPages %}
                    {% set prevPage = max(1, page - 3)%}
                    {% set nextPage = numPages%}
                    {% elseif page == 2 %}
                    {% set prevPage = page%}
                    {% set nextPage = min(numPages,page + 2)%}
                    {% elseif page == numPages - 1 %}
                    {% set prevPage = max(1, numPages - 3)%}
                    {% set nextPage = numPages%}
                    {% else %}
                    {% set prevPage = page - 1%}
                    {% set nextPage = page + 1%}
                    {% endif %}

                    {% for p in prevPage..nextPage %}
                        {% if p > 0 %}
                            {% if p == 1 %}
                            <!-- never output page 1 -->
                            {% elseif p == numPages %}
                            <!-- never output last page -->
                            {% else %}
                                <li{{ p == page ? ' class="active"' : '' }}>
                                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: p})) }}">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <li class="disabled"><a href="#">...</a></li>

                    {% if page == numPages %}
                    <li class="disabled"><a href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: numPages })) }}">{{ numPages }}</a></li>
                    {% else %}
                    <li><a href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: numPages })) }}">{{ numPages }}</a></li>
                    {% endif %}


                    {% if page == numPages %}
                    {% else %}
                    <li><a href="{{ path(app.request.get('_route'), app.request.query.all|merge({page: page + 1})) }}">&raquo;</a></li>
                    {% endif %}

                </ul>
            </div>

        </div>
            {% else %}
            {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script>#}
        {#$('#genre_toggle, #studio_toggle, #title_toggle').click(function(e) {#}
            {#e.preventDefault();#}
            {#var $this = $(this);#}
            {#var type = $this.attr('id').split('_')[0];#}
            {#var $el = $('#' + type + '_filters');#}
            {#var visible = $el.css('display') != 'none';#}

            {#if ( visible ) {#}
                {#$el.slideUp('fast');#}
                {#$this.html($this.html().replace('&laquo;', '&raquo;'));#}
            {#} else {#}
                {#$el.slideDown('fast');#}
                {#$this.html($this.html().replace('&raquo;', '&laquo;'));#}
            {#}#}
        {#});#}
    {#</script>#}

{% endblock %}
